// * [ _colors.scss }
// This is the sheet that has all the colors.

// Main palette! Generic naming makes it easier to swap out
$background1: #17223B;
$background2: #263859;
$main1: #6B778D;
$main2: #FF6768;

// Template for trying other palettes
$background3: #FEFFDF;
$background4: #FFE79A;
$main3: #FFA952;
$main4: #EF5A5A;

// Basics, for ease of access
$black: #000000;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.5);

