// * [ [ _fonts.scss ] ]
// This is the file with all the text styles and font definitions

// * [ Font Mixin Definitions ]
@mixin font_header{
    font-family: 'Xanh Mono', monospace;
}
@mixin font_body{
    font-family: 'Alegreya', serif;
}
@mixin font_mono{
    font-family: 'Fira Code', monospace;
}

// * [ General Text Styles ]
p, li, button, a{
    @include font_body;
}
h1, h2, h3, h4, h5, h6, span{
    @include font_header;
}
pre, code, button, span.mono{
    @include font_mono;
}

// * [ Specific Text Styles ]
// Headers
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.75em;
}
// Main text
p{
    margin: 0 1em 1em 0;
}

// Highlight styles
::selection{
    color: $black;
    background-color: $main2;
}
a::selection{
    background-color: $white;
}
